/* .example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
}
.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
} */

body {
    display: grid;
    grid-template-columns: 400px 5fr;
    grid-template-rows: 1fr 1fr 3fr;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

section {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center top;
}

form div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;

}
label{
    align-self: flex-start;
}

input,
select {
    text-align: center;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: inset 1px 1px 3px rgb(105, 78, 66);
    width: 100%;
}

input {
    height: 3vh;

    font-weight: 600;
    background-color: beige;
    padding: 1%;
    border: 3px ridge rgb(105, 78, 66);
    font-size: 1.2em;
}

input:focus, select:focus {
    outline: none;
    border: 3px ridge rgb(105, 78, 66);
    box-shadow: inset 1px 1px 3px rgb(105, 78, 66), 0px 0px 6px black;
    transform: translateX(5px);
}

select {
    height: 5vh;
    font-weight: 400;
    padding: 1%;
    border: 3px ridge rgb(105, 78, 66);
    background-color: beige;
    accent-color: rgb(39, 23, 23);
}

button {
    width: auto;
    padding: 0% 2%;
    margin-top: 2em;
    height: 4vh;
    font-family: "Source Serif 4", serif;
    font-size: 1.2em;
    color: beige;
    background-color: rgb(105, 78, 66);
    border: 3px double black;
    border-radius: 15px;

}