body {
    display: grid;
    grid-template-columns: 400px 5fr;
    grid-template-rows: 1fr 3fr;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

#logo {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


section {
    grid-column: 1 / span 2;
    grid-row: 1 / span 22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h2 {
    font-weight: 800;
}

section div {
    display: flex;
    flex-direction: column;
}

#agreeTerms div {
    display: flex;
    flex-direction: row;
}

path {
    background-color: white;
    fill: black;
}

#parent {
    width: 250px;
    overflow: visible;
    place-self: center;
}

.enfant {
    position: relative;
    top: 50;
    left: 0;
}

svg {
    width: 250px;
    /* z-index: -1; */
    overflow: visible;
}

label{
    transform: translate(0px, 50px);
    color: black;

}

[type="text"],
[type="password"] {
    place-self: center;
    height: 50px;
    width: 225px;
    display: inline;
    transform: translate(0px, 60px);
    z-index: 3;
    background: none;
    border: none;
    text-align: center;
    font-size: 2em;
}

[type="text"]:focus,
[type="password"]:focus {
    outline: none;
    color: brown;
}

.enfant:has([type="text"]:focus)+svg .line,
.enfant:has([type="password"]:focus)+svg .line,
.enfant:has([type="text"]:focus) label,
.enfant:has([type="password"]:focus) label {
    fill: brown;
    color: brown;
}

.fill {
    fill: beige;
    opacity: 0.5;
}

.line {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.514));
}

label + ul{
    display: contents;
}

label + ul li{
    display: block;
    color: red;
    overflow: visible;
    white-space: nowrap;
    transform: translateY(47px);
}