body {
    margin: 0;
    display: grid;
    grid-template-columns: 400px 5fr;
    grid-template-rows: 1fr 1fr 3fr;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
    background-image: url(../../images/Wood-Texture.jpg);
    background-repeat: no-repeat;
    background-position: center center;

}

#logo {
    grid-column: 1 / span 2;
    grid-row: 1;
    place-self: center;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

h2 {
    font-weight: 800;
    grid-column: 1 / span 2;
    grid-row: 1;
    place-self: center;
    font-size: 4em;
    color: rgb(238, 189, 116);
    text-shadow: -2px -2px 2px black, 2px 2px 2px white;
    mix-blend-mode: overlay;
}

section {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url(../../images/pages1.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center top;
}

@media (min-width: 1400px){
    section{
        background-size: 60%;
    }
}

section div {
    display: flex;
    flex-direction: column;
}

#agreeTerms div {
    display: flex;
    flex-direction: row;
}

path {
    background-color: white;
    fill: black;
}

#parent {
    width: 250px;
    overflow: visible;
    place-self: center;
}

.enfant {
    position: relative;
    top: 50;
    left: 0;
}

svg {
    width: 250px;
    /* z-index: -1; */
    overflow: visible;
}

label {
    transform: translate(0px, 50px);
    color: black;

}

[type="text"],
[type="password"] {
    place-self: center;
    height: 50px;
    width: 225px;
    display: inline;
    transform: translate(0px, 60px);
    z-index: 3;
    background: none;
    border: none;
    text-align: center;
    font-size: 2em;
    font-family: "Jacques Francois", serif;

}

[type="text"]:focus,
[type="password"]:focus {
    outline: none;
    color: rgb(110, 70, 54);
}

.enfant:has([type="text"]:focus)+svg .line,
.enfant:has([type="password"]:focus)+svg .line,
.enfant:has([type="text"]:focus) label,
.enfant:has([type="password"]:focus) label {
    fill: rgb(110, 70, 54);
    color: rgb(110, 70, 54);

}

.fill {
    fill: beige;
    opacity: 0.5;
}

.line {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.514));
}

label+ul {
    display: contents;
}

label+ul li {
    display: block;
    color: red;
    overflow: visible;
    white-space: nowrap;
    transform: translateY(47px);
}

#agreeTerms div,
#rememberMe {
    display: flex;
    flex-direction: row-reverse;
    transform: none;
    margin-top: 0.7em;
    align-items: center;
    justify-content: center;
}

#agreeTerms div label,
#rememberMe label {
    transform: none;
    text-transform: capitalize;
}

input[type="checkbox"] {
    accent-color: rgb(255, 0, 0);
    mix-blend-mode: none;
    border: none;
    outline: none;
}

input[type="checkbox"]:checked {
    accent-color: rgb(39, 23, 23);
    /* mix-blend-mode: color-burn; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 0;
    text-align: center;
    place-self: center;
    margin-top: 1.7em;
    height: 3.5em;
    width: 8em;
    /* border: 3px solid rgb(39, 23, 23); */
    border: 5px ridge rgb(116, 67, 12);
    font-family: "Jacques Francois", serif;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgb(39, 23, 23);
    background-image: url(../../images/old-paper-texture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgb(39, 23, 23);

}


p{
    margin: 0;
    margin-top: 2em;
    font-style: italic;
    mix-blend-mode: hard-light;
    /* opacity: 0.8; */
    color: black;
}
a{
    color: rgb(48, 14, 14);
}