{% extends 'base.html.twig' %}

{% block title %}Hello NewTableController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/newtable/newtable.css') }}">
{% endblock %}

{% block body %}

	<section>
		<div class="example-wrapper">

			{{form(form)}}
			
		</div>
	</section>
{% endblock %}
