body {
    display: grid;
    grid-template-columns: 400px 5fr;
    grid-template-rows: 1fr 3fr;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

@media (max-width: 1200px) {
    body {
        grid-template-columns: 350px 5fr;
    }
}

#logo {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../../images/book.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: #1C0C4B;
    font-size: large;
}
nav div{
  padding: 0.8em;
  font-style: italic;
  color: rgb(26, 12, 12);
  opacity: 0.93;
  /* mix-blend-mode: hard-light; */
}

nav ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
li li:hover{
    transform: translateX(12px);
}

nav button {
    align-self: center;
    height: 10em;
    width: 20em;
    background-image: url(../../images/old-paper-texture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    border: 3mm ridge rgb(116, 67, 12);
    /* border-image: url(../../images/Wood-Texture.jpg) 300; */
    box-shadow: 6px 1px 10px rgba(29, 14, 1, 0.562);
}
nav button:hover{
    transform: rotate(0.005turn);
}
nav button:active{
    transform: rotate(0.005turn) translateX(5px);
}

nav button p {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
    text-transform: uppercase;
    color: #301B03;
    text-shadow: 0.5px 0.5px 2px #301b036c;
    mix-blend-mode: color-burn;
    align-self: center;
}

#topView {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainView {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 89%;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center top;
    transform: rotate(0.001turn);
}

table{

  border-collapse: collapse;
  width: 60%;
}

tbody{
  /* mix-blend-mode: darken; */
  mix-blend-mode: multiply;
  /* filter: blur(0.1px); */
  border: 2px solid transparent;
}

tr{
  border: 2px solid transparent;

}
th,
td {
  /* border: 2px dotted rgb(19, 19, 19); */
  padding: 8px 10px;
  color: black;
  font-family: "Jacques Francois", serif;
  font-weight: 500;
  font-size: 1.3em;
}

th {
  /* background-color: #deb016; */
  background-color: transparent;
  /* font-weight: 600; */
  font-family: "Source Serif 4", serif;
  color: #000;
}

td[scope="dice"] {
  background-color: #f0d0672c;
  width: 50px;
  max-width: 50px;
}
td[scope='text'] {
    width: auto;
}

td {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #f7e6ad;
}
tr:nth-of-type(odd) {
    background-color: transparent;
  }

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
}

tr:hover:has(td){
  /* border: inset 2px solid red; */
  /* font-style: italic; */
  /* transform: translateX(15px); */
  -webkit-box-shadow:inset 0px 0px 0px 2px #f00;
  -moz-box-shadow:inset 0px 0px 0px 2px #f00;
  box-shadow:inset 0px 0px 0px 2px #f00;
  /* z-index: 10; */
}